aside {
  float: right;
  position: relative;
  bottom: 430px;
}

.footpic {
  position: relative;
  left: 422px;
  color: white;
}

.head {
  color: #0093AF;
}
  
i {
  color: #87CEEB;
}
blockquote {
  color: #87CEEB;
  font-size: 22px;
}
h3.class {
  color: #0093AF;

}

.main {
  padding-left: 190px;
  margin-top: 55px;
  clearfix: left;



}

h5 {
  color: white;
  position: relative;
  left: 426px;
}

h6 {
  color: white;
  position: relative;
  left: 496px;

}

footer {
  background-color: #696969;
  padding: 115px 115px 115px 115px;
  margin-left: -9px;
  margin-right: -9px;
  position: relative;
  top: 275px;


}

figure {
  position: relative;
  right: 39.5px;
}

body {
  font-family: sans-serif;

}

a {
  color: #00BFFF;
}

p {
  color: 	#383838;
  font-size: 14px;
}

header {
  /* border: 2px solid  black; */
  margin: -8px;
  background-color: #0093AF;
  color: white;
  padding-left: 190px;
  padding-top: 50px;
  padding-bottom: 27px;
}

.text {
  font-size: 25px;
}

h2 {
  font-size: 25px;
}


nav {
  background-color: #E0E0E0;
  padding: 5px 5px 5px 5px;
  position: relative;
  right: 8px;
  top: 7px;
  padding-left: 190px;
  margin-right: -1em;
  font-size: 15px;

}
